<div class="footer" id="start-a-project">
    <div class="top-background"></div>

    <div class="start-project-container" *ngIf="showCTA">
        <div class="start-project row">
            <div class="col-lg-4 col-md-4 title-holder col-sm-12" style="display: block;">
                <h5 class="title text-center">Let's Work Together!</h5>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12" style="display: block;">
                <h5 class="info text-center">Interested in working together? Email me or find me on my socials below,
                    let's talk about it.</h5>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 btn-holder" style="display: block;">
                <div class="col  text-center">
                    <a class="btn btn-custom" routerLink="contact">Let's Do This!</a>
                </div>
            </div>
        </div>
    </div>

    <div class="logo text-center">JR</div>

    <div class="closing-text">
        Always working, Always learning, & Always growing.
    </div>

    <div class="social-icons row">
        <div class="icon">
            <a href="https://discord.gg/kQ3qHWD">
                <i class="fab fa-discord" id="discord"></i>
            </a>
        </div>
        <div class="icon">
            <a href="https://twitter.com/@JeremyrDev">
                <i class="fa-brands fa-twitter"></i>
            </a>
        </div>
        <div class="icon">
            <a href="https://github.com/JeremyrDev">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <div class="icon">
            <a href="https://www.linkedin.com/in/michael-jeremy-ryan">
                <i class="fab fa-linkedin-in"></i>
            </a>
        </div>

        <div class="icon">
            <a href="mailto:Jeremyr.dev@gmail.com">
                <i class="far fa-envelope"></i>
            </a>
        </div>
    </div>


    <div class="copyright text-center">Created by me with inspiration © {{CurrentYear}}</div>

    <div class="foot-note text-center">Made with <i class="fab fa-angular"></i> and <i class="fab fa-bootstrap"></i>
    </div>
</div>