<nav class="navbar navbar-expand-lg navbar-light">
    <a id="navitem-1" class="navbar-brand fade" href="">
        <h1 class="logo text-primary">JR</h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="icon"><i class="fa-solid fa-bars"></i></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto"></ul>

        <form class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
                <li id="navitem-2" class="nav-item fade">
                    <a class="nav-link" href="#skills">Skills<span class="sr-only">(current)</span></a>
                </li>

                <li id="navitem-3" class="nav-item fade">
                    <a class="nav-link" href="#work">Work</a>
                </li>

                <li id="navitem-4" class="nav-item fade">
                    <a class="nav-link" routerLink="contact">Contact</a>
                </li>

                <li id="navitem-5" class="nav-item fade">
                    <a class="nav-link loop" href="#start-a-project">Start a Project</a>
                </li>
            </ul>
        </form>

    </div>
</nav>