$primaryColor: #0090FF; //#27d7a1
$secondaryColor: #a044dd;

.container-custom
{
     width: 100%;
     margin: auto;
     padding-left: 50px;
     padding-right: 50px;
}

nav 
{
    background:white !important;
    z-index: 1;
    
    .logo
    {
         font-family: Eurostile;
         font-size: 40px;
         font-weight: bold;
         height: 54px;
         width: auto;
         color: $primaryColor;
    }

    a
    {
         color: black;
         margin-right: 35px;
    }
}

.header
{
     position: relative;
     margin-bottom: 100px;

     .content
     {
          opacity: 1;
          transition: opacity .2s ease-in-out;

          h1
          {
               margin-top: 80px;
               font-family: Eurostile;
               font-weight: bold;
               font-size: 2.8em;
          }

          h5
          {
               font-family: Eurostile;
               font-size: 1.4em;
          }

          .header-image
          {
               margin: auto;
               margin-top: 30px;

               img
               {
                    width: 180px;
                    height: 180px;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
               }
          }

          .btn-custom
          {
               font-family: Eurostile;
               background-color: transparent;
               color: lighten($primaryColor, 12%);
               border: 3px solid lighten($primaryColor, 20%);
               border-radius: 16px;
               font-size:  30px;
               font-weight: bold;
               padding-left: 60px;
               padding-right: 60px; 
               padding-top: 0px;
               padding-bottom: 2px;
          }
          
          .btn-custom:hover
          {
               background-color: lighten($primaryColor, 20%);
               color: white;
          }

          
     }
}

.explanation
{
     color: white;

     .top-background
     {
          position: absolute;
          top: 500px;
          left: 0px;

          background-color: $primaryColor;
          transform: skewY(-5deg);
          height: 500px;
          width: 120%;
          margin-left: -40px;
          z-index: -998;
     }
     .content
     {
          max-width: 750px;
          margin: auto;

          .title
          {
               padding-top: 35px;
               a
               {
                    text-decoration: none;
                    
                    font-family: Europa;
                    font-size: 1.75em;
                    font-weight: bold;
                    color: white;
               }
          }
          .sub-text
          {
               font-family: Europa;
               font-size: 1.4em;
               font-weight: 300;
          }
     }
}

.images
{
     margin-top: 50px;
     img
     {
          padding: 15px;
          width: 95%;
          margin: auto;
     }

     .bigImage
     {
          width: 100% !important;
     }
}

.footer
{
     color: white;

     .top-background
     {
          position: absolute;
          top: 1800px;
          left: 0px;

          background-color: $primaryColor;
          transform: skewY(-5deg);
          height: 1700px;
          width: 120%;
          margin-left: -40px;
          z-index: -998;
     }
     .content
     {
          max-width: 750px;
          margin: auto;

          .title
          {
               padding-top: 35px;
               font-family: Europa;
               font-size: 2em;
               font-weight: bold;
               color: white;
          }
          .sub-text
          {
               font-family: Europa;
               font-size: 1.4em;
               font-weight: 300;
          }
     }
}

@media screen and (max-width: 590px)
{
     .container-custom
     {
          // width: 95%;
     }
     .header
     {
          .content
          {
               h1
               {
                    font-size: 2.2em;
               }

               .social-icons
               {
                    width: 75%;
                    margin: auto;

                    .icon
                    {
                         height: 35px;
                         width: 35px;

                         font-size: 1.35em;

                         margin: 15px;
                         padding-top: 0px;
                         padding-left: 5px;
                    }
               }
          }
          .btn-custom
          {
               font-size: 20px !important;
               margin-left: -20px !important;
          }
     }

     .explanation
     {
          .top-background
          {
               height: 1000px;
          }
     }

     .footer
     {
          .top-background
          {
               top: 2350px;
               height: 2200px;
          }
     }
}

@media screen and (min-width: 591px) and (max-width: 768px)
{
     .container-custom
     {
          // width: 95%;
     }
     .header
     {
          .content
          {
               h1
               {
                    font-size: 2.2em;
               }

               .social-icons
               {
                    width: 75%;
                    margin: auto;

                    .icon
                    {
                         height: 35px;
                         width: 35px;

                         font-size: 1.35em;

                         margin: 15px;
                         padding-top: 0px;
                         padding-left: 5px;
                    }
               }
          }
          .btn-custom
          {
               font-size: 20px !important;
               margin-left: -20px !important;
          }
     }

     .explanation
     {
          .top-background
          {
               height: 1000px;
          }
     }

     .footer
     {
          .top-background
          {
               top: 2800px;
               height: 1800px;
          }
     }
}

@media screen and (min-width: 991px) and (max-width: 1280px)
{
     .container-custom
     {
          // width: 95%;
     }
     .header
     {
          .content
          {
               h1
               {
                    font-size: 2.2em;
               }

               .social-icons
               {
                    width: 75%;
                    margin: auto;

                    .icon
                    {
                         height: 35px;
                         width: 35px;

                         font-size: 1.35em;

                         margin: 15px;
                         padding-top: 0px;
                         padding-left: 5px;
                    }
               }
          }
          .btn-custom
          {
               font-size: 20px !important;
               margin-left: -20px !important;
          }
     }

     .explanation
     {
          .top-background
          {
               height: 500px;
          }
     }

     .footer
     {
          .top-background
          {
               top: 1700px;
               height: 1100px;
          }
     }
}