<div class="projects" id="projects">
    <div class="projects-content">
        <h1 class="text-center title">Hobbies & Side Projects</h1>
        <h5 class="text-center sub-text">
            Nothing to write home about and unrelated to web dev, but here's how else I stay busy.
        </h5>

        <div class="item-container row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="item">
                    <img width="100%" height="auto" src="assets/baseline.jpg" alt="">
                    <div class="date-text">January 6th, 2020</div>
                    <div class="item-title">
                        LTE Connected Bathroom Lights
                    </div>

                    <div class="item-description">
                        I can text my bathroom lights and it's completely unnecessary...
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="item">
                    <img width="100%" height="auto" src="assets/streamu.jpg" alt="">
                    <div class="date-text">January 6th, 2020</div>
                    <div class="item-title">
                        Idle Point Collection Game: Idle Message
                    </div>
                    <div class="item-description">
                        Collect points with the purpose of reaching out to bigger and bigger groups of people
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="item">
                    <img width="100%" height="auto" src="assets/smoobean.jpg" alt="">
                    <div class="date-text">January 6th, 2020</div>
                    <div class="item-title">
                        Twitch Livestreamed Autonomous Submersible Boat
                    </div>
                    <div class="item-description">
                        It's a mouthful, and has a mouthful of features...
                    </div>
                </div>
            </div>
            <div class="col-12 text-right"><a href="">View More</a></div>
        </div>
    </div>
</div>