<!-- No Longer Used -->
<div class="container-custom">
     <div class="header">
          <nav class="navbar navbar-expand-lg navbar-light">
               <a class="navbar-brand" href="">
                    <h1 class="logo">JR</h1>
               </a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
               </button>

               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto"></ul>

                    <form class="form-inline my-2 my-lg-0">
                         <ul class="navbar-nav mr-auto">
                              <li class="nav-item">
                                   <a class="nav-link" href="#skills">Skills<span class="sr-only">(current)</span></a>
                              </li>

                              <li class="nav-item">
                                   <a class="nav-link" href="#work">Work</a>
                              </li>

                              <!-- <li class="nav-item">
                                   <a class="nav-link" href="#projects">Projects</a>
                              </li> -->

                              <li class="nav-item">
                                   <a class="nav-link" routerLink="contact">Contact</a>
                              </li>

                              <li class="nav-item">
                                   <a class="nav-link loop" href="#start-a-project">Start a Project</a>
                              </li>
                         </ul>
                    </form>

               </div>
          </nav>

          <div class="content">
               <h1 class="text-center">Uhh, what gives?</h1>
               <h5 class="text-center">Where's the website for Baseline?</h5>

               <div class="header-image">
                    <img src="assets/baseline.png" alt="">
               </div>

               
          </div>
     </div>

     <div class="explanation">
          <div class="top-background"></div>
          <div class="content">
               <div class="title text-center"><a href="https://baseline.life">Unfortunately, Baseline Life, LLC. had to come to an end and the website is no longer available.</a></div>
               <div class="sub-text text-center">
                    You can, however, buy the domain for $5k if you'd like (I'm not the seller so I have no idea why that much)<br>
                    <br>
                    All the work I've done for baseline is un-released and still under NDA. So a lot of blood, sweat, and tears
                    are still in
                    the process of being released. I can share bits and pieces of this 4+ year long journey, but a lot of it is
                    still
                    protected.
               </div>
          </div>
     </div>

     <div class="images row">
          <div class="col-lg-4 col-md-6 col-sm-12"><a href="assets/Intro_Lio_2.png"><img class="img-fluid" src="assets/Intro_Lio_2.png" alt=""></a></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><a href="assets/Front.png"><img class="img-fluid" src="assets/Front.png" alt=""></a></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><a href="assets/Side View.png"><img class="img-fluid" src="assets/Side View.png" alt=""></a></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><a href="assets/New Dimensions.png"><img class="img-fluid" src="assets/New Dimensions.png" alt=""></a></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><a href="assets/Size Comparison 2.png"><img class="img-fluid" src="assets/Size Comparison 2.png" alt=""></a></div>
          <div class="col-lg-4 col-md-6 col-sm-12"><a href="assets/layout_v2_2.png"><img class="img-fluid" height="auto" width="100%"  src="assets/layout_v2_2.png" alt=""></a></div>
          <div class="col-sm-12 row"><a href="assets/Lio PCB Iterations.png"><img class="bigImage" src="assets/Lio PCB Iterations.png" alt=""></a></div>
     </div>

     <div class="footer">
          <div class="top-background"></div>
          <div class="content">
               <div class="title text-center">
                    So what honestly is all of this?
               </div>

               <div class="sub-text">
                    So here's the gist. I started as a developer very young, got into robotics at 13, and gradually branched out into more
                    diverse
                    technologies. I spent a while in website and general software development, then branched out and spent a good
                    amount of
                    time as a successful game developer. <br>
                    <br>
                    Branching out again from game development, I found myself as co-owner and sole engineer of a new IoT medical tech
                    company that very quickly caught attention and landed me with the government in the main offices of the VA, working
                    to
                    assist our veterans at the fore front of their needs. <br>
                    <br>
                    Coming from a military family, this meant everything to me and allowed me to push the technology I invented to even
                    further heights; leading me to design and build the world’s smallest cellular LTE device ever created. A cellular
                    GPS
                    tracker that was smaller than a dime, battery life that lasted over a week, and gave us a chance to help an estimated
                    population of over 96 thousand people just in the greater pittsburgh area once launched. <br>
                    <br>
                    I’m very proud of what I created and am now looking for new opportunities and problems to tackle. I’ve chosen to
                    start
                    working in as many areas of tech as I can and can’t wait to see what I can get myself into. Thanks for sticking with the
                    long
                    read, feel free to contact me with any interest you have.
               </div>
          </div>
     </div>
</div>

