<div class="skills-container">
    <div class="skills" id="skills">
        <div class="top-background fade" id="skills-top"></div>
        <div class="bottom-background fade" id="skills-bottom"></div>
        <div class="skills-content">
            <h1 class="text-center title">Great to meet you! Here's what I'm about:</h1>
            <h5 class="text-center sub-text">
                I've spent the last 10 years as a remote full-stack engineer creating dozens of websites, apps, games,
                IoT hardware, AR/VR experiences, and
                a couple of startups along the way. I've pushed myself to learn the latest in modern technologies to
                bring my best to the table. I have the advantage of being a very fast learner, can wear multiple hats, and can
                put myself in
                almost any situation needed. Lately, I've started my adventure into the Metaverse as a game developer for Cool Cats; one of the largest NFT players in the space. Check them out and see some of my work:  <a class="text-white" href="https://coolcatsnft.com">CoolCatsNFT.com</a>
            </h5>
        </div>

        <div class="skills-table">
            <div class="table row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 column-1">
                    <img class="icon" src="assets/web-programming.png" alt="">
                    <h5 class="text-center title">Front-end</h5>

                    <div class="text text-center">
                        I design intuitive UI with simplicity and code with a strong modular foundation in mind.
                    </div>


                    <div class="sub-title text-center">
                        Front-end languages:
                    </div>
                    <div class="text text-center">
                        HTML5, CSS3, JavaScript, Swift, jQuery, Typescript, SCSS
                    </div>


                    <div class="sub-title text-center">
                        Design Tools:
                    </div>
                    <div class="text text-center">
                        Photoshop CC<br>
                        Illustrator CC<br>
                        Adobe XD<br>
                        Figma<br>
                        Adobe Dreamweaver
                    </div>


                    <div class="sub-title text-center">
                        Frameworks:
                    </div>
                    <div class="text text-center">
                        Angular 2+<br>
                        React<br>
                        SwiftUI<br>
                        ThreeJS<br>
                        Electron<br>
                        WPF/Winforms<br>
                        <br>
                        <b>- CSS -</b><br>
                        Tailwind CSS<br>
                        Bootstrap 3, 4, & 5<br>
                        Bulma<br>
                        Materialize
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 column-2">
                    <img class="icon" src="assets/server-solid.png" alt="">
                    <h5 class="text-center title">Back-end</h5>

                    <div class="text text-center">
                        Modular, easy to read code that flows logically and can be understood quickly is my top
                        priority.
                    </div>


                    <div class="sub-title text-center">
                        Back-end technologies:
                    </div>
                    <div class="text text-center">
                        Nodejs, PHP 5.6/7, C#, ASP.NET, MVC, Entity Framework, MySQL, Express, MongoDB, GraphQL, Python
                    </div>


                    <div class="sub-title text-center">
                        Server Platforms:
                    </div>
                    <div class="text text-center">
                        AWS (Lambda, S3, Glacier & Deep Archive, EC2, Route 53)<br>
                        Firebase<br>
                        Google Kubernetes (Training)<br>
                        Digital Ocean<br>
                        Vultr<br>
                        Heroku
                    </div>

                    <div class="sub-title text-center">
                        Tools & IDEs:
                    </div>
                    <div class="text text-center">
                        JetBrains Rider <br>
                        VS Code<br>
                        Atom<br>
                        Bitbucket<br>
                        GitHub<br>
                        GitLab<br>
                        Putty<br>
                        Postman<br>
                        Filezilla
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 column-3">
                    <img class="icon" src="assets/processor.png" alt="">
                    <h5 class="text-center title">Additional</h5>

                    <div class="text text-center">
                        I like learning new things and seeing where life can take me. This has brought me into many
                        different areas and given me
                        passion for many different things.
                    </div>


                    <div class="sub-title text-center">
                        Content Management Systems (CMS):
                    </div>
                    <div class="text text-center">
                        WordPress, Shopify, Blogger, Ecwid
                    </div>


                    <div class="sub-title text-center">
                        Development Modalities:
                    </div>
                    <div class="text text-center">
                        - Fullstack Web App Development<br>
                        - Game Development (Unity)<br>
                        - Swift & SwiftUI iOS Development<br>
                        - IoT Hardware Engineering<br>
                        - Product Manufacturing Management<br>
                        - Fusion 360 CAD Modeling<br>
                        - EagleCAD PCB Design
                    </div>

                    <div class="sub-title text-center">
                        Biggest Accomplishments:
                    </div>
                    <div class="text text-center">
                        - Created the smallest cellular device in the world in 2018 & again in 2019. The device transmitted realtime location data every 380ms while only being the size of a quarter.<br><br>
                        - Launched a hyper-growth startup called TCG Royale, bringing the project from design to full launch in just under 5 months.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>