$primaryColor: #0090FF; //#27d7a1
$secondaryColor: #a044dd;

$gradient1: #3073FB;
$gradient2: #850CFF;

.container-custom
{
     width: 80%;
     margin: auto;
}

nav 
{
    background:white !important;
    z-index: 1;
    
    .logo
    {
         font-family: Eurostile;
         font-size: 40px;
         font-weight: bold;
         height: 54px;
         width: auto;
         color: $primaryColor;
    }

    a
    {
         color: black;
         margin-right: 35px;
    }
}

.header
{
     position: relative;
     margin-bottom: 100px;

     .content
     {
          opacity: 1;
          transition: opacity .2s ease-in-out;

          h1
          {
               margin-top: 110px;
               font-family: Eurostile;
               font-weight: bold;
               font-size: 2.8em;
          }

          h5
          {
               font-family: Eurostile;
               font-size: 1.4em;
          }

          .header-image
          {
               margin: auto;
               margin-top: 35px;

               img
               {
                    width: 200px;
                    height: 200px;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
               }
          }

          .social-icons
          {
               width: 460px;
               margin: auto;

               .icon
               {
                    height: 60px;
                    width: 60px;

                    margin: 23px;
                    padding-top: 1px;
                    padding-left: 12px;

                    display: inline-block;
                    
                    cursor: pointer;

                    transition: all .2s ease-in-out;

                    text-decoration: none;
                         color: lighten($primaryColor, 5%);
                         font-size: 2.2em;
                         border: 2px solid lighten($primaryColor, 10%);
                         border-radius: 50%;

                    a
                    {
                         color: lighten($primaryColor, 5%);
                    }
               }

               .icon:hover
               {
                    background-color: lighten($primaryColor, 10%);
                    
                    a
                    {
                         color: white;
                    }
               }
          }

          .btn-custom
          {
               font-family: Eurostile;
               background-color: transparent;
               color: lighten($primaryColor, 12%);
               border: 3px solid lighten($primaryColor, 20%);
               border-radius: 16px;
               font-size:  30px;
               font-weight: bold;
               padding-left: 60px;
               padding-right: 60px; 
               padding-top: 0px;
               padding-bottom: 2px;
          }
          
          .btn-custom:hover
          {
               background-color: lighten($primaryColor, 20%);
               color: white;
          }

          .btn-custom-etsy
          {
               height: 35px;
               font-family: Eurostile;
               background-color: transparent;
               color: lighten(#e36811, 12%);
               border: 3px solid lighten(#e36811, 15%);
               border-radius: 14px;
               font-size:  22px;
               font-weight: bold;
               margin-top: 10px;
               padding-left: 70px;
               padding-right: 70px; 
               padding-top: 0px;
               padding-bottom: 35px;
               cursor: pointer;
          }
          
          .btn-custom-etsy:hover
          {
               background-color: lighten(#e36811, 20%);
               color: white;
          }
     }

     .fade
     {
          opacity: 0;
     }
}

.combinations-text
{
     font-size: 1.4em;
     margin-top: 8px;

     span
     {
          color: $primaryColor;
          padding-left: 5px;
     }
}

.generated-text
{
     font-size: 1.8em;
     margin-top: 8px;
     color: $primaryColor;
     
}

.green
{
     color: rgb(25, 119, 207) !important;
}
.red
{
     color: red !important;
}