<!-- <div class="rate">
    <div class="rate-content">
        <h1 class="text-center title">How would you rate this portfolio?</h1>
        <h5 class="text-center sub-text">
            I'll be personally offended if you rate it low
        </h5>

        <div class="response-text text-center" [innerHtml]="rateResponseText"></div>

        <div class="stars-container" (mouseleave)="leave(-1)">
            <div class="star" (mouseenter)="hover(0)" (mouseleave)="leave(0)" (click)="rate(0)">
                <i class="far fa-star" *ngIf="star[0] == 0"></i>
                <i class="fas fa-star" *ngIf="star[0] != 0"
                    [ngClass]="star[0] == 1 ? 'isHovering': (star[0] == 2 ? 'picked': '')"></i>
            </div>
            <div class="star" (mouseenter)="hover(1)" (mouseleave)="leave(1)" (click)="rate(1)">
                <i class="far fa-star" *ngIf="star[1] == 0"></i>
                <i class="fas fa-star" *ngIf="star[1] != 0"
                    [ngClass]="star[1] == 1 ? 'isHovering': (star[1] == 2 ? 'picked': '')"></i>
            </div>
            <div class="star" (mouseenter)="hover(2)" (mouseleave)="leave(2)" (click)="rate(2)">
                <i class="far fa-star" *ngIf="star[2] == 0"></i>
                <i class="fas fa-star" *ngIf="star[2] != 0"
                    [ngClass]="star[2] == 2 ? 'picked': ((star[2] == 1) ? 'isHovering': '')"></i>
            </div>
            <div class="star" (mouseenter)="hover(3)" (mouseleave)="leave(3)" (click)="rate(3)">
                <i class="far fa-star" *ngIf="star[3] == 0"></i>
                <i class="fas fa-star" *ngIf="star[3] != 0"
                    [ngClass]="star[3] == 1 ? 'isHovering': (star[3] == 2 ? 'picked': '')"></i>
            </div>
            <div class="star" (mouseenter)="hover(4)" (mouseleave)="leave(4)" (click)="rate(4)">
                <i class="far fa-star" *ngIf="star[4] == 0"></i>
                <i class="fas fa-star" *ngIf="star[4] != 0"
                    [ngClass]="star[4] == 1 ? 'isHovering': (star[4] == 2 ? 'picked': '')"></i>
            </div>
        </div>
    </div>
</div> -->